;Paramètres communication série
[SERIAL]
port: /dev/ttyACM0
baudrate: 9600
bytesize: 8
parity: N
stopbits: 1

;Paramètres base de données
[MYSQL]
host: localhost
user: admin
passwd: password
db: Temp_Hum

;Tables des différents type de capteur
table: Temp_map
;Date_Temp_hum_tension


[MSSQL]
host: 10.16.11.182
port: 1433
user: PDA_USER3
passwd: Azardo23
db: PDA
table: TEMPERATURE